{% extends 'base.html' %} {% load static %} {% block content %}



<section class="container-fluid">
	<div class="row">
		<div class="col-10 offset-1 dark-font d-flex flex-wrap align-content-around">
			<div class="col-4 col-sm-3 col-md-2 p-2 p-sm-5">
				<span>
					<i class="fa fa-usd" aria-hidden="true"></i> 0.00</span>
			</div>
			<div class="col-4 col-sm-3 col-md-2  p-2 p-sm-5">
				<span>
					<i class="fa fa-eur" aria-hidden="true"></i> 0.00</span>
			</div>
			<div class="col-4 col-sm-3 col-md-2  p-2 p-sm-5">
				<span>
					<i class="fa fa-btc" aria-hidden="true"></i> 0.00</span>
			</div>
			<div class="col-12 col-sm-3 col-md-2  p-2 p-sm-5 ml-auto">
				<a class="exhange-btn-back">Back</a>
			</div>
		</div>
	</div>
</section>


<section class="section-blue container-fluid white-font">
	<div class="p-1 p-md-5">


		<div id="content">
			<div class="framework-container">
				<div class="example" onpagenavigation id="demo"></div>
			</div>
		</div>
		<div class="clearfix"></div>





	</div>



	<div class="exchange-now">
		<div class="container ">
			<div class="row" style="margin:0px">
				<div class="col-md-5 sync">
					<h2>Exchange</h2>

					<a class="btn btn-default btn-select">
						<input type="hidden" class="btn-select-input" name="" value="" />
						<span class="btn-select-value" value="0">BTC</span>
						<span class='btn-select-arrow fa fa-caret-down'></span>
						<ul id="convert_from">
							<li value="0" class="selected">
								<img src="/static/images/coins/bitcoin.png" width="40px" />BitCoin</li>
							<li value="1">
								<img src="/static/images/coins/eth.png" width="40px" />Ethereum</li>
							<li value="2">
								<img src="/static/images/coins/ltc.png" width="40px" />LiteCoin</li>
							<li value="3">
								<img src="/static/images/coins/xmr.png" width="40px" />Monero</li>
							<li value="4">
								<img src="/static/images/coins/bch.png" width="40px" />BitCoinCash</li>
							<li value="5">
								<img src="/static/images/coins/btg.png" width="40px" />BitCoinGold</li>
						</ul>
					</a>


					<div class="row btn-exchange-input-box-top">
						<div class="col-6">
							<input type="text" value="1" id="convert_amount" class="input-bit" />
						</div>
						<div class="col-6" align="right">
							<span class="from_cur" />
						</div>
					</div>
					<div class="row btn-exchange-input-box-bottom">
						<div class="col-6">
							0.075
						</div>
						<div class="col-6" align="right">
							USD
						</div>
					</div>
				</div>
				<div class="col-md-2 text-center d-flex align-items-center justify-content-center p-5">
					<img src="/static/img/sync.png">
				</div>

				<div class="col-md-5 ">
					<h2>Receive</h2>

					<a class="btn btn-default btn-select">
						<input type="hidden" class="btn-select-input" id="" name="" value="" />
						<span class="btn-select-value" value="2">Litecoin</span>
						<span class='btn-select-arrow fa fa-caret-down'></span>
						<ul id="convert_to">
							<li value="0">
								<img src="/static/images/coins/bitcoin.png" width="40px" />BitCoin</li>
							<li value="1">
								<img src="/static/images/coins/eth.png" width="40px" />Ethereum</li>
							<li value="2" class="selected">
								<img src="/static/images/coins/ltc.png" width="40px" />LiteCoin</li>
							<li value="3">
								<img src="/static/images/coins/xmr.png" width="40px" />Monero</li>
							<li value="4">
								<img src="/static/images/coins/bch.png" width="40px" />BitCoinCash</li>
							<li value="5">
								<img src="/static/images/coins/btg.png" width="40px" />BitCoinGold</li>
						</ul>
					</a>
					<div class="row btn-exchange-input-box-top">
						<div class="col-sm-6">
							<input type="text" disabled id="converted_amount" class="input-bit" />
						</div>
						<div class="col-sm-6" align="right">
							<span class="to_cur" />
						</div>
					</div>
					<div class="row btn-exchange-input-box-bottom">
						<div class="col-6">
							0.075
						</div>
						<div class="col-6" align="right">
							USD
						</div>
					</div>
				</div>



				<div class="col-md-5 ">
					<div class="bit-exchange-value-left">
						<div class="row">

							<div class="col-9 float-right">
								<h4>You are exchanging</h4>
								<p>
									<span class="from_cur" />
								</p>
								<p>4.75 USD</p>
							</div>

							<div class="col-3 d-flex align-items-center ">
								<img id="from_cur_img" src="/static/img/coins/BitCoin.png" class="img-fluid">
							</div>

						</div>
					</div>
				</div>
				<div class="col-md-2 text-center d-flex align-items-center justify-content-center p-5">
					<img src="/static/img/right-arrow.png">
				</div>



				<div class="col-md-5 ">
					<div class="bit-exchange-value-right">
						<div class="row">

							<div class="col-3 d-flex align-items-center ">
								<img id="from_cur_img" src="/static/img/coins/LiteCoin.png" class="img-fluid">
							</div>
							<div class="col-9 float-left">
								<h4>You are receiving</h4>
								<p>
									<span class="from_cur" />
								</p>
								<p>4.75 USD</p>
							</div>


						</div>
					</div>
				</div>
			</div>
			<div align="center">
				<button class="btn btn-exchange mb-3" type="submit" onclick="window.location=''">Exchange now</button>
			</div>
		</div>
	</div>
</section>


{% endblock %} {% block script %}
<script type="text/javascript">
	convertWidget1($('#convert_to').find("li.selected").val());
	$('#convert_from li').click(function (e) {
		convertWidget2(e.target.value);

	})
	$('#convert_to li').click(function (e) {
		convertWidget1(e.target.value);
	})

	$('#convert_amount').keyup(function () {
		convertWidget1($('#convert_to').find("li.selected").val());


	})

	function convertWidget1(convert_to) {
		convert_from = $('#convert_from').find("li.selected").val()
		amount = $('#convert_amount').val()
		$.ajax({
			type: "POST",
			url: "",
			data: {
				'from': convert_from,
				'to': convert_to,
				'amount': amount,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				$("#converted_amount").attr({
					'value': data.result
				});
				from_text = $('#convert_from').find("li.selected").text()
				to_text = $('#convert_to').find("li.selected").text()
				$(".from_cur").text(from_text)
				$(".to_cur").text(to_text)
				$("#from_cur_img").attr({
					"src": "/static/img/coins/" + from_text + ".png"
				})
				$("#to_cur_img").attr({
					"src": "/static/img/coins/" + to_text + ".png"
				})

			}
		})
	}

	function convertWidget2(convert_from) {
		convert_to = $('#convert_to').find("li.selected").val()
		amount = $('#convert_amount').val()
		$.ajax({
			type: "POST",
			url: "",
			data: {
				'from': convert_from,
				'to': convert_to,
				'amount': amount,
				csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function (data) {
				$("#converted_amount").attr({
					'value': data.result
				});
				from_text = $('#convert_from').find("li.selected").text()
				to_text = $('#convert_to').find("li.selected").text()
				$(".from_cur").text(from_text)
				$(".to_cur").text(to_text)
				$("#from_cur_img").attr({
					"src": "/static/img/coins/" + from_text + ".png"
				})
				$("#to_cur_img").attr({
					"src": "/static/img/coins/" + to_text + ".png"
				})

			}
		})
	}
</script>
<script>
	$(".example").piechart([
		["Country", "M inhabitants"],
		["China", 1360, 'blue'],
		["India", 1234],
		["USA", 316],
		["Indonesia", 237],
		["Brazil", 100],
		["keniya", 100],
	]);
	$(".sector-s").trigger("click")
</script>

<script>
	$('.owl-carousel').owlCarousel({
		loop: true,
		margin: 10,
		responsiveClass: true,
		responsive: {
			0: {
				items: 1,
				nav: true
			},
			600: {
				items: 3,
				nav: false
			},
			1000: {
				items: 8,
				nav: true,
				loop: false
			}
		}
	})
</script>

{% endblock %}